/* ------------------------
   Card
------------------------- */
.project-card {
  border-radius: 1rem;          /* 👈 1rem radius */
  overflow: hidden;             /* 👈 clips image to rounded corners */
  background-color: var(--card-bg);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem; /* 👈 vertical + horizontal spacing */
  justify-items: center; /* centers cards */
}


/* ------------------------
   Image
------------------------- */
.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}



/* ------------------------
   Content
------------------------- */
.project-content {
  padding: 1.5rem;
  text-align: left;
}

.project-title {
 color: var(--text-color);
}

/* ------------------------
   Stack
------------------------- */
.project-stack {
 color: var(--muted-text);
}

/* ------------------------
   Bullets
------------------------- */
.project-bullets {
 color: var(--muted-text);
}

.project-bullets li {
  margin-bottom: 0.4rem;
  line-height: 1.4;
}

/* ------------------------
   Buttons
------------------------- */
.project-buttons {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.project-btn {
  padding: 0.45rem 1.2rem;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease;
}

/* Demo */
.demo-btn {
  background-color: #494949;
  color: #ffffff;
}


.demo-btn:hover {
  background-color: #0033a0;
}

/* GitHub */
.github-btn {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.github-btn:hover {
  background-color: #001b5e;
  color: #ffffff;
}